*{
	margin: 0;
	padding: 0;
	font-family: 'Inter';
}

:root{
	--gray-100: #CED4DA;
	--gray-200: #ADB5BD;
	--gray-300: #868E96;
	--gray-400: #495057;
	--gray-500: #343A40;
	--dark-blue-100: #609ED4;
	--dark-blue-200: #356ea9;
	--dark-blue-300: #0A3B71;
	--dark-blue-400: #072B61;
	--dark-blue-500: #052051;
	--light-blue-100: #F3F5FC;
	--light-blue-200: #EFF1FA;
	--light-blue-300: #E9ECF8;
	--light-blue-400: #AAB2D5;
	--light-blue-500: #AAB2D5;
}


::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 14px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--dark-blue-300);
}


/* USEFUL CLASSES */

.hidden{
	visibility: hidden;
}

.d-flex{
	display: flex;
}

.f-col{
	flex-direction: column;
}

.f-center{
	justify-content: center;
	align-items: center;
}


/* STYLE PAGE CONTENT */

body{
	background: var(--light-blue-100);
}

#logo{
	position: absolute;
	left: 40px;
	top: 40px;
}

main{
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
}

#wave{
	position: absolute; bottom: 0 ;z-index: -1;
	animation:waves 10s ease-in-out infinite;
}
@keyframes waves {
	0%{
			margin-left: 0;
	}
	50%{
			margin-left: -400px;
	}
	100%{
		margin-left: 0;
}
}

.output-message{
	background: white;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 32px;
	width: 400px;
	height: 944px;
}

#no-message-title{
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	text-align: center;
	margin-top: 16px;
	margin-bottom: 16px;
}

#no-message{
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;

}

#output-text,
#messageInput{
	resize: none;
	border: none;
	outline: none;
	background-color: transparent;
}

#message{
	width: 90%;
}

#output-text{
	width: 100%;
	height: 400px;
	color: var(--gray-400);
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	margin-bottom: 20px;
}

#messageInput{
	margin-top: 6rem;
	width: 700px;
	height: 40rem;
	color: var(--dark-blue-300);
	font-size: 32px;
	line-height: 150%;
}

#messageInput::placeholder{
	color: var(--dark-blue-300);
}
#output-text::selection,
#messageInput::selection{
	background: var(--light-blue-400);
	color: var(--gray-400);
}

#copy{
	margin-top: 20px;
}

.exclamation{
	display: flex;
	align-items: center;

	margin-top: 16px;
	margin-bottom: 16px;

	color: var(--gray-400);
	opacity: 0.8;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
}

.exclamation i {
	margin-right: 8px;
}

.popup,
.popup-only,
.popup-copy{
	background-color: var(--gray-500);
	color: var(--gray-100);
	text-align: center;
	padding: 6px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	border-radius: 8px;
}

.popup{
	width: 16rem;
	top: -20px;
}

.popup-copy{
	width: 10rem;
	bottom: 140px;
}

.popup-only{
	width: 24rem;
	top: -50px;
}

.button-primary,
.button-secondary{
	width: 328px;
	height: 67px;
	border-radius: 24px;
	padding: 24px;
	gap: 8px;
	cursor: pointer;
	transition: ease-out 300ms;
}

.button-primary{
	background: var(--dark-blue-300); 
	color: white;
	border: none;
}

.button-primary:hover{
	background: var(--dark-blue-400); 
}

.button-secondary{
	background:transparent;
	color: var(--dark-blue-300);
	border: 1px solid var(--dark-blue-300);
}

.button-secondary:hover{
	background: var(--light-blue-100);
}

footer{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 1em;
	padding: 6px;
	background-color: var(--dark-blue-400);
	color: var(--gray-100); 
}

footer a {
	color: inherit; 
  text-decoration: inherit; 
}


@media screen and (max-width: 1200px){
	main{
		flex-direction: column;
		height: auto;
	}
	#messageInput{
		height: 30rem;
		margin-top: 8rem;
	}
	.output-message{
		width: 660px;
		height: 400px;
		padding-top: 40px;
		padding-bottom: 40px;
		margin-top: 40px;
		margin-bottom: 40px;
		height: auto;
	}
	.output-message img {
		width: 15rem;
	}

	#output-text{
		height: 200px;
	}
}

@media screen and (max-width: 768px){
	#messageInput{
		width: 350px;
	}
	.buttons-input{
		display: flex;
		flex-direction: column;
	}
	.button-primary{
		margin-bottom: 20px;
	}
	.output-message{
		width: 350px;
	}
	.output-message img {
		width: 10rem;
	}
	#no-message-container{
		width: 80%;
	}
	.popup-only{
		width: 16rem;
	}
}
